@model Richev.DarkMornings.Web.Models.CommuteInfoModel

<div id="fb-root"></div>
<script>
(function (d, s, id) {
    var js, fjs = d.getElementsByTagName(s)[0];
    if (d.getElementById(id)) return;
    js = d.createElement(s); js.id = id;
    js.src = "//connect.facebook.net/en_GB/all.js#xfbml=1&appId=684464021575093";
    fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));</script>

@if (Model.tw.Daylights == null || Model.fw.Daylights == null)
{
    <p class="question">Ever wonder how much longer you'll be commuting in the dark?</p>

    @Html.ValidationSummary()

    using (Html.BeginForm("Index", "Home", FormMethod.Get))
    {
        @Html.HiddenFor(model => model.la)
        @Html.HiddenFor(model => model.lo)
        @Html.HiddenFor(model => model.wd)
        @Html.HiddenFor(model => model.tz)
        <h3>Timings</h3>
        <div class="with-icon">
            <i class="fa fa-clock-o"></i><span>I get to work at</span>
            <span class="time-selector">
                @Html.DropDownListFor(model => model.tw.h, UIHelpers.GetHours(Model.tw.h))<span class="time-separator">:</span>@Html.DropDownListFor(model => model.tw.m, UIHelpers.GetMinutes(Model.tw.m))
            </span>
        </div>
        <div class="with-icon">
            <i class="fa fa-clock-o"></i><span>I get home after work at</span>
            <span class="time-selector">
                @Html.DropDownListFor(model => model.fw.h, UIHelpers.GetHours(Model.fw.h))<span class="time-separator">:</span>@Html.DropDownListFor(model => model.fw.m, UIHelpers.GetMinutes(Model.fw.m))
            </span>
        </div>
        <div class="accordion">
            <h3><span class="header-text">Workdays</span> <span class="text-info">Which days do you go to work? Defaults to Mon-Fri, click to change.</span></h3>
            <div class="working-days with-icon">
                <i class="fa fa-road"></i><span>I go to work on</span>
                <div class="btn-group">
                    <button class="btn">Sun</button>
                    <button class="btn">Mon</button>
                    <button class="btn">Tue</button>
                    <button class="btn">Wed</button>
                    <button class="btn">Thu</button>
                    <button class="btn">Fri</button>
                    <button class="btn">Sat</button>
                </div>
            </div>
        </div>
        <div style="clear: both;">
            <button class="btn btn-lg btn-success" type="submit">Count your journeys &raquo;</button>
        </div>
    }
}
else
{
    <p class="question">You get to work at @UIHelpers.FormatCommuteTime(Model.tw) and get back home at @UIHelpers.FormatCommuteTime(Model.fw).</p>
    <p>You do this @UIHelpers.FormatDaysCount(@Model.wd) a week; every @UIHelpers.FormatWorkingDays(Model.wd.Select(d => d == UIHelpers.WorkingDayTrue).ToArray()).</p>
    <h3>This means&hellip;</h3>
    <div class="results journey with-icon">
        @UIHelpers.GetJourneyText(Model.tw.Daylights)
    </div>
    <hr class="and" />
    <div class="results journey with-icon">
        @UIHelpers.GetJourneyText(Model.fw.Daylights)
    </div>
    <p class="text-info excluding">(excluding Bank and national holidays)</p>
    <hr class="and" />
    <div>
        Share this...
        <a href="https://twitter.com/share" class="twitter-share-button" data-lang="en" data-size="large" data-url="@Request.Url.Scheme://@Request.Url.Host" data-text="@UIHelpers.GetTweetText(Model)">Tweet this on Twitter</a>
        <div class="fb-share-button" data-href="@Request.Url.Scheme://@Request.Url.Host" data-type="button_count"></div>
        or 
        <a href="@Url.Action("Index", "Home")"><i class="fa fa-sun-o"></i>have another go...</a>
    </div>
}

@section scripts {

    <script>
        !function(d, s, id) {
            var js, fjs = d.getElementsByTagName(s)[0];
            if (!d.getElementById(id)) {
                js = d.createElement(s);
                js.id = id;
                js.src = "https://platform.twitter.com/widgets.js";
                fjs.parentNode.insertBefore(js, fjs);
            }
        }(document, "script", "twitter-wjs");
    </script>
    
    <script type="text/javascript">
        function storePosition(position) {
            var latitude = position.coords.latitude;
            var longitude = position.coords.longitude;

            $("#la").val(latitude.toFixed(2));
            $("#lo").val(longitude.toFixed(2));
        }

        var setWorkingDaysString = function() {
            var buttons = $(".working-days .btn-group button");

            var wd = "";

            buttons.each(function(i, elem) {
                wd += $(elem).hasClass("checked") ? "@UIHelpers.WorkingDayTrue" : "@UIHelpers.WorkingDayFalse";
            });

            $("#wd").val(wd);
        };

        var setWorkingDaysButtons = function() {
            var buttons = $(".working-days .btn-group button");
            var workingDays = $("#wd").val();

            buttons.each(function(i, elem) {
                $(elem).removeClass("checked");
                if (workingDays[i] == "@UIHelpers.WorkingDayTrue") {
                    $(buttons[i]).addClass("checked");
                }
            });
        };

        // From http://michaelapproved.com/articles/timezone-detect-and-ignore-daylight-saving-time-dst
        var timezoneDetect = function() {
            var dtDate = new Date('1/1/' + (new Date()).getUTCFullYear());
            var intOffset = 10000; //set initial offset high so it is adjusted on the first attempt
            var intMonth;

            //go through each month to find the lowest offset to account for DST
            for (intMonth = 0; intMonth < 12; intMonth++) {
                //go to the next month
                dtDate.setUTCMonth(dtDate.getUTCMonth() + 1);

                //To ignore daylight saving time look for the lowest offset.
                //Since, during DST, the clock moves forward, it'll be a bigger number.
                if (intOffset > (dtDate.getTimezoneOffset() * (-1))) {
                    intOffset = (dtDate.getTimezoneOffset() * (-1));
                }
            }

            return intOffset / 60; // to adjust minutes to hours
        };

        $(document).ready(function() {
            if ($("#la").val() == "" || $("#lo").val() == "") {
                if (Modernizr.geolocation) {
                    navigator.geolocation.getCurrentPosition(storePosition);
                }
            }

            if ($("#tz").val() == "") {
                $("#tz").val(timezoneDetect());
            }

            $(".working-days button").click(function() {
                $(this).toggleClass("checked");

                setWorkingDaysString();

                return false;
            });

            $(".accordion").accordion({
                header: "h3",
                collapsible: true,
                active: false,
                heightStyle: "content",
                activate: resizeOverlay
            });;

            setWorkingDaysButtons();
        });
    </script>
}