@model Richev.DarkMornings.Web.Models.CommuteInfoModel

<div id="fb-root"></div>
<script>
    (function (d, s, id) {
        var js, fjs = d.getElementsByTagName(s)[0];
        if (d.getElementById(id)) return;
        js = d.createElement(s); js.id = id;
        js.src = "//connect.facebook.net/en_GB/all.js#xfbml=1&appId=684464021575093";
        fjs.parentNode.insertBefore(js, fjs);
    }(document, 'script', 'facebook-jssdk'));</script>

<p class="question">Ever wonder how much longer you'll be commuting in the dark?</p>

<div id="warning" class="alert alert-warning" style="display: none;">
</div>

@Html.ValidationSummary(string.Empty, new { @class = "alert alert-danger" })

<div id="MyCommute">
    <h3>My commute</h3>
    <div>
        <div class="with-icon">
            <i class="fa fa-arrow-circle-o-right"></i>@Html.Label("ToWorkHours", "I leave home at")
            <span class="time-selector">
                @Html.DropDownList("ToWorkHours", UIHelpers.GetHours(Model.h))<span class="time-separator">:</span>@Html.DropDownList("ToWorkMinutes", UIHelpers.GetMinutes(Model.h))
            </span>
        </div>
        <div class="with-icon">
            <i class="fa fa-arrow-circle-o-left"></i>@Html.Label("FromWorkHours", "I leave work at")
            <span class="time-selector">
                @Html.DropDownList("FromWorkHours", UIHelpers.GetHours(Model.w))<span class="time-separator">:</span>@Html.DropDownList("FromWorkMinutes", UIHelpers.GetMinutes(Model.w))
            </span>
        </div>

        @using (Html.BeginForm("Index", "Home", FormMethod.Get))
        {
            @Html.HiddenFor(model => model.x)
            @Html.HiddenFor(model => model.y)
            @Html.HiddenFor(model => model.h)
            @Html.HiddenFor(model => model.w)
            <div class="with-icon">
                <i class="fa fa-clock-o"></i>@Html.LabelFor(model => model.d, "My journey takes")
                <span class="duration-selector">
                    @Html.DropDownListFor(model => model.j, UIHelpers.GetJourneyDurations(Model.j))
                </span>
            </div>
            <div class="working-days with-icon">
                <i class="fa fa-exchange"></i><span>I go to work on</span>
                <div class="btn-group">
                    <button class="btn">Sun</button>
                    <button class="btn">Mon</button>
                    <button class="btn">Tue</button>
                    <button class="btn">Wed</button>
                    <button class="btn">Thu</button>
                    <button class="btn">Fri</button>
                    <button class="btn">Sat</button>
                </div>
            </div>
            @Html.Hidden("d", (int)Model.d)
            @Html.HiddenFor(model => model.z)
            <div style="clear: both; margin-top: 20px;">
                <button class="btn btn-lg btn-success" type="submit">Count the days &raquo;</button>
            </div>
        }
    </div>
</div>

@if (Model.ToWorkDaylights != null && Model.FromWorkDaylights != null)
{
    <hr class="and" />

    <a id="Results"></a><h3>You have&hellip;</h3>
    <div class="results journey with-icon">
        @Html.Partial("_DaylightInfo", Model.ToWorkDaylights)
    </div>
    <hr class="and" />
    <div class="results journey with-icon">
        @Html.Partial("_DaylightInfo", Model.FromWorkDaylights)
    </div>
    <p class="text-info excluding">(excluding Bank and national holidays)</p>

    <hr class="and" />
    <div>
        <h3><span class="header-text">Your location</span> <span class="text-info">This is where we think you are.</span></h3>
        <div class="location-map">
            <p class="text-info"><strong>X</strong> marks the spot.</p>
            <img src="@UIHelpers.GetMapImageUrl(Model.y.Value, Model.x.Value)" alt="This is where we think you are." title="This is where we think you are." width="640" height="320" />
            <p class="text-info">This is the location we used when calculating sunrise and sunset times, as well as your time zone (important for daylight savings things!).</p>
        </div>
    </div>
    <hr class="and" />
    <div>
        Share this
        <a href="https://twitter.com/share" class="twitter-share-button" data-lang="en" data-size="large" data-url="@Request.Url.Scheme://@Request.Url.Host" data-text="@UIHelpers.GetTweetText(Model)">Tweet this on Twitter</a>
        <div class="fb-share-button" data-href="@Request.Url.Scheme://@Request.Url.Host" data-type="button_count"></div>
        or
        <a href="@Url.Action("Index", "Home")">have another go</a>
    </div>
}

@section scripts {
    <script>
        !function (d, s, id) {
            var js, fjs = d.getElementsByTagName(s)[0];
            if (!d.getElementById(id)) {
                js = d.createElement(s);
                js.id = id;
                js.src = "https://platform.twitter.com/widgets.js";
                fjs.parentNode.insertBefore(js, fjs);
            }
        }(document, "script", "twitter-wjs");
    </script>
}